@import 'colors';

*{
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: $roboto;
    margin: 0;

    color: $grey-color;

    .header{
        height: 100vh;
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-image: linear-gradient(to right,rgb(36, 36, 36), rgb(32, 32, 32));
        background-position: center;
        background-size: cover;
        .grid-rows{
            display: grid;
            grid-template-rows: 5% 10% 70% auto;
            margin: 0;
            .rowone{
                @include whm(100%,100%,0 auto);

                display: grid;
                .nav{
                    list-style: none;
                    width: 40%;
                    padding: 1.5rem;
                    background-color: #181818;

                    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);

                    @include flexrowcenter;
                    li{
                        padding: 0 1.5rem;
                        white-space: nowrap;

                        cursor: pointer;
                        &:hover{
                            .nav-link{
                                color: $green-color;
                            }
                            i{
                                transform: scale(1.1);
                            }
                        }

                        .nav-link{
                            text-decoration: none;
                            color: $grey-color;

                            font-size: 0.9rem;
                            font-weight: 600;
                        }
                        i{
                            color: $green-color;
                            padding-right: 8px;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .rowtwo{
                @include whm(95%,100%,0);

                @include flexspacebetween;
                strong{
                    @include strong-kawasaki;
                }
                .itemgroup{
                    display: flex;
                    width: 5%;
                    justify-content: space-between;
                    i{
                        font-size: 1.8rem;
                        color: $green-color;

                        cursor: pointer;
                    }
                    .fa-search{
                        transition: transform 0.5s ease;
                        &:hover{
                            transform: scale(1.1);
                            transition: transform 0.5s ease;
                        }
                    }
                    .fa-bars{
                        transition: transform 0.3s ease-in-out;
                        &:hover{
                            transform: rotate(25deg);
                            transition: transform 0.3s ease-in-out;
                        }
                    }

                }
            }
            .rowthree{
                @include whm(100%,100%,0);
                display: grid;
                .gridcolumns{
                    @include whm(100%,100%,0);

                    display: grid;
                    grid-template-columns: 35% auto 5%;

                    .colone{
                        display: flex;
                        flex-direction: column;
                        justify-content: right;
                        @include whm(80%,100%,auto 0 auto auto);

                        .title-top{
                            display: flex;
                            margin: auto auto 0 0;
                            .year{
                                transform: rotate(-90deg);
                                color: $green-color;
                                font-weight: 900;
                                font-size: 2.8rem;
                                padding-right: 1rem;
                                margin-top: 30px;

                                @media only screen and(max-width:1814px){
                                    font-size: 2.6rem;
                                }
                                @media only screen and(max-width:1590px){
                                    font-size: 2rem;
                                    margin-top: 15px;
                                }
                                @media only screen and(max-width:1294px){
                                    font-size: 1.6rem;
                                    margin-top: 9px;
                                }

                            }
                            .title-row-one{
                                font-size: 3.3rem;
                                margin-left: -60px;
                                letter-spacing: 1px;
                                #r{
                                    font-size: 1.9rem;
                                    @media only screen and(max-width:1814px){
                                        font-size: 1.6rem;
                                    }
                                    @media only screen and(max-width:1590px){
                                        font-size: 1.4rem;
                                    }
                                    @media only screen and(max-width:1294px){
                                        font-size: 1.2rem;
                                    }
                                }
                                #tm{
                                    font-size: 1.9rem;
                                    @media only screen and(max-width:1814px){
                                        font-size: 1.6rem;
                                    }
                                    @media only screen and(max-width:1590px){
                                        font-size: 1.4rem;
                                    }
                                    @media only screen and(max-width:1294px){
                                        font-size: 1.2rem;
                                    }
                                    
                                }

                                @media only screen and(max-width:1814px){
                                    font-size: 2.9rem;
                                }
                                @media only screen and(max-width:1590px){
                                    font-size: 2.4rem;
                                }
                                @media only screen and(max-width:1294px){
                                    font-size: 1.9rem;
                                    padding-left: 8px;
                                }

                            }
                        }
                        .main-title{
                            margin: 0 auto 0 0;
                            h1{
                                font-family: Arial, Helvetica, sans-serif;
                                margin-top: 0;
                                color: $white-color;
                                font-weight: 600;
                                letter-spacing: 3px;
                                line-height: 2rem;
                            }
                            #undisputed{
                                font-size: 4.4rem;

                                @media only screen and(max-width:1814px){
                                    font-size: 3.8rem;
                                }
                                @media only screen and(max-width:1590px){
                                    font-size: 3.2rem;
                                }
                                @media only screen and(max-width:1294px){
                                    font-size: 2.5rem;
                                }
                            }
                            #champion{
                                font-size: 5.3rem;

                                @media only screen and(max-width:1814px){
                                    font-size: 4.6rem;
                                }
                                @media only screen and(max-width:1590px){
                                    font-size: 3.9rem;
                                }
                                @media only screen and(max-width:1294px){
                                    font-size: 2.4rem;
                                }
                            }
                        }

                        .small-title{
                            margin: 0 auto 0 0;
                            h2{
                                margin-top: 0;
                                letter-spacing: 3px;
                                font-size: 1.4rem;

                                @media only screen and(max-width:1814px){
                                    font-size: 1.1rem;
                                }
                                @media only screen and(max-width:1590px){
                                    font-size: 0.9rem;
                                }
                                @media only screen and(max-width:1294px){
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        .learn-more{
                            color: $green-color;
                            margin: 10px auto auto 0;

                            cursor: pointer;
                            &:hover{
                                i{
                                    padding-left: 20px;
                                    transition: padding-left 0.5s ease;
                                }
                            }
                            i{
                                padding-left: 10px;
                                transition: padding-left 0.5s ease;
                                font-size: 1.3rem;
                            }
                        }
                    }
                    .coltwo{
                        @include flexcolcenter;
                        @include whm(100%,100%,0);

                        img{
                            display: flex;
                            height: auto;
                            width: 90%;
                            margin: auto auto 0 0;
                        }
                    }
                    .colthree{
                        @include whm(100%,100%,0);
                        @include flexcol;
                        .pagination{
                            @include flexcolcenter;
                            i{
                                padding-top: 15px;

                                cursor: pointer;

                                &:hover{
                                    color: darken($color: $grey-color, $amount: 20%);
                                }
                            }
                            .active{
                                color: $green-color;
                                &:hover{
                                    color: $green-color;
                                }
                            }
                        }
                    }
                }
            }
            .rowfour{
                @include whm(100%,100%,0);
                display: grid;
                .gridcolumns{
                    @include whm(100%,100%,0);
                    display: grid;
                    grid-template-columns:10% 20% 70%;

                    .colone{
                        @include whm(100%,100%,auto);
                        @include flexcolcenter;
                        .media-icons{
                            @include whm(100%,100%,auto);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            i{
                                padding: 11% 0;
                                font-size: 2.5rem;
                                
                                cursor: pointer;
                                transition: 0.3s ease;

                                &:hover{
                                    color: $green-color;
                                    transition: color 0.3s ease;
                                }
                            }
                        }
                    }

                    .coltwo{
                        @include whm(100%,100%,0);
                        display: flex;
                        p{
                            @include flexcolcenter;
                            margin-top: 50%;
                        }
                    }

                    .colthree{
                        display: grid;
                        grid-template-rows: 80% 20%;
                        .rowone{
                            @include whm(100%,100%,0);
                            .items{
                                @include flexspacebetween;
                                width: 80%;
                                margin: 0 auto auto 0;
                                strong{
                                    color: $green-color;

                                    padding-right: 3px;
                                    font-size: 1.2rem;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fa-chevron-down{
            display: block;
            position: absolute;
            bottom: 5%;
            right: 50%;
            color: $green-color;
            font-size: 3rem;

            cursor: pointer;

            transition: bottom 0.5s ease;

            &:hover{
                bottom: 4%;
                transition: bottom 0.5s ease;
            }
        }
    }
}




