@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #7A7A7C;
}

.header {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#242424), to(#202020));
  background-image: linear-gradient(to right, #242424, #202020);
  background-position: center;
  background-size: cover;
}

.header .rotate-alert {
  width: 100%;
  height: 100%;
  margin: 0;
}

@media screen and (min-height: 551px) {
  .header .rotate-alert {
    display: none;
  }
}

.header .rotate-alert .rotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #7A7A7C;
  line-height: 3rem;
}

.header .rotate-alert .rotate strong {
  color: #23872F;
  font-size: 2.5rem;
  font-weight: 1000;
}

.header .grid-rows {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 10% 10% 55% 25%;
      grid-template-rows: 10% 10% 55% 25%;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .header .grid-rows {
    -ms-grid-rows: 10% 60% 25%;
        grid-template-rows: 10% 60% 25%;
  }
}

@media only screen and (max-width: 898px) {
  .header .grid-rows {
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
  }
}

@media screen and (max-height: 550px) {
  .header .grid-rows {
    display: none;
  }
}

.header .grid-rows .rowone {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 1200px) {
  .header .grid-rows .rowone {
    display: none;
  }
}

.header .grid-rows .rowone .nav {
  list-style: none;
  width: 40%;
  padding: 1.5rem;
  background-color: #181818;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media only screen and (max-width: 1800px) {
  .header .grid-rows .rowone .nav {
    width: 50%;
  }
}

@media only screen and (max-width: 1420px) {
  .header .grid-rows .rowone .nav {
    width: 60%;
  }
}

.header .grid-rows .rowone .nav li {
  padding: 0 1.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.header .grid-rows .rowone .nav li:hover .nav-link {
  color: #23872F;
}

.header .grid-rows .rowone .nav li:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .grid-rows .rowone .nav li .nav-link {
  text-decoration: none;
  color: #7A7A7C;
  font-size: 0.9rem;
  font-weight: 600;
}

.header .grid-rows .rowone .nav li i {
  color: #23872F;
  padding-right: 8px;
  font-size: 1.3rem;
}

.header .grid-rows .rowtwo {
  width: 95%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header .grid-rows .rowtwo strong {
  color: #e9e9e9;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 480px) {
  .header .grid-rows .rowtwo strong {
    font-size: 2rem;
  }
}

.header .grid-rows .rowtwo .item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .header .grid-rows .rowtwo .item-group {
    visibility: visible;
  }
}

.header .grid-rows .rowtwo .item-group i {
  font-size: 2.8rem;
  color: #23872F;
  cursor: pointer;
}

@media only screen and (max-height: 550px) {
  .header .grid-rows .rowtwo .item-group i {
    font-size: 2rem;
  }
}

.header .grid-rows .rowtwo .item-group .fa-bars {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header .grid-rows .rowtwo .item-group .fa-bars:hover {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header .grid-rows .rowthree {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header .grid-rows .rowthree .gridcolumns {
  width: 100%;
  height: 100%;
  margin: auto auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% auto 5%;
      grid-template-columns: 35% auto 5%;
}

@media only screen and (max-width: 1028px) {
  .header .grid-rows .rowthree .gridcolumns {
    -ms-grid-columns: 40% auto 5%;
        grid-template-columns: 40% auto 5%;
  }
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto 0 0 auto;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone {
    width: 90%;
    height: 100%;
    margin: 0;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top {
    display: none;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .title-top .year {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #23872F;
  font-weight: 900;
  font-size: 2.8rem;
  padding-right: 1rem;
  margin-top: 30px;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .year {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .year {
    font-size: 2rem;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .year {
    font-size: 1.6rem;
    margin-top: 9px;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one {
  font-size: 3.2rem;
  margin-left: -60px;
  letter-spacing: 1px;
}

.header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #r {
  font-size: 1.9rem;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #r {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #r {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #r {
    font-size: 1.2rem;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #tm {
  font-size: 1.9rem;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #tm {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #tm {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one #tm {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .title-top .title-row-one {
    font-size: 1.9rem;
    padding-left: 8px;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .main-title {
  width: 100%;
  height: auto;
  margin: 0 auto 1% auto;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin: 2rem auto 0 auto;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .main-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #e9e9e9;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 2rem;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title h1 {
    line-height: 0;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
  font-size: 4.4rem;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #undisputed {
    font-size: 2.5rem;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
  font-size: 5.3rem;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 4.6rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 3.9rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 3.1rem;
  }
}

@media only screen and (max-width: 550px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  .header .grid-rows .rowthree .gridcolumns .colone .main-title #champion {
    font-size: 1.9rem;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .small-title {
  width: 100%;
  height: auto;
  margin: 0 auto 5%;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .small-title {
    display: none;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .small-title h2 {
  margin: auto;
  letter-spacing: 3px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowthree .gridcolumns .colone .small-title h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1590px) {
  .header .grid-rows .rowthree .gridcolumns .colone .small-title h2 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .colone .small-title h2 {
    font-size: 0.65rem;
  }
}

.header .grid-rows .rowthree .gridcolumns .colone .learn-more {
  color: #23872F;
  width: 100%;
  height: auto;
  margin: 0 auto 3rem auto;
  cursor: pointer;
}

.header .grid-rows .rowthree .gridcolumns .colone .learn-more:hover i {
  padding-left: 20px;
  -webkit-transition: padding-left 0.5s ease;
  transition: padding-left 0.5s ease;
}

.header .grid-rows .rowthree .gridcolumns .colone .learn-more i {
  padding-left: 10px;
  -webkit-transition: padding-left 0.5s ease;
  transition: padding-left 0.5s ease;
  font-size: 1.3rem;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more i {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more i {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 390px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more i {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin: 2rem auto auto auto;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 390px) {
  .header .grid-rows .rowthree .gridcolumns .colone .learn-more {
    font-size: 1.1rem;
  }
}

.header .grid-rows .rowthree .gridcolumns .coltwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  margin: 0;
}

.header .grid-rows .rowthree .gridcolumns .coltwo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 85%;
  margin: auto auto auto 0;
}

@media only screen and (max-width: 1650px) {
  .header .grid-rows .rowthree .gridcolumns .coltwo img {
    width: 100%;
  }
}

@media only screen and (max-width: 1294px) {
  .header .grid-rows .rowthree .gridcolumns .coltwo img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .coltwo img {
    width: 80%;
    margin: auto;
  }
}

.header .grid-rows .rowthree .gridcolumns .colthree {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colthree {
    height: auto;
  }
}

.header .grid-rows .rowthree .gridcolumns .colthree .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowthree .gridcolumns .colthree .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30%;
    height: auto;
    margin: auto auto 10% auto;
  }
}

@media only screen and (max-width: 800px) {
  .header .grid-rows .rowthree .gridcolumns .colthree .pagination {
    width: 35%;
    height: auto;
    margin: auto auto 10% auto;
  }
}

@media only screen and (max-width: 700px) {
  .header .grid-rows .rowthree .gridcolumns .colthree .pagination {
    width: 40%;
    height: auto;
    margin: auto auto 15% auto;
  }
}

@media only screen and (max-width: 550px) {
  .header .grid-rows .rowthree .gridcolumns .colthree .pagination {
    width: 45%;
    height: auto;
    margin: auto auto 20% auto;
  }
}

.header .grid-rows .rowthree .gridcolumns .colthree .pagination i {
  padding-top: 15px;
  cursor: pointer;
}

.header .grid-rows .rowthree .gridcolumns .colthree .pagination i:hover {
  color: #474749;
}

.header .grid-rows .rowthree .gridcolumns .colthree .pagination .active {
  color: #23872F;
}

.header .grid-rows .rowthree .gridcolumns .colthree .pagination .active:hover {
  color: #23872F;
}

.header .grid-rows .rowfour {
  width: 100%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 898px) {
  .header .grid-rows .rowfour {
    display: none;
  }
}

.header .grid-rows .rowfour .gridcolumns {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20% 70%;
      grid-template-columns: 10% 20% 70%;
}

.header .grid-rows .rowfour .gridcolumns .colone {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header .grid-rows .rowfour .gridcolumns .colone .media-icons {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .grid-rows .rowfour .gridcolumns .colone .media-icons i {
  padding: 11% 0;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .grid-rows .rowfour .gridcolumns .colone .media-icons i:hover {
  color: #23872F;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .grid-rows .rowfour .gridcolumns .coltwo {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .grid-rows .rowfour .gridcolumns .coltwo p {
  margin: auto auto 1rem auto;
}

@media only screen and (max-width: 1814px) {
  .header .grid-rows .rowfour .gridcolumns .coltwo p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1504px) {
  .header .grid-rows .rowfour .gridcolumns .coltwo p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1350px) {
  .header .grid-rows .rowfour .gridcolumns .coltwo p {
    font-size: 0.7rem;
  }
}

.header .grid-rows .rowfour .gridcolumns .colthree {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header .grid-rows .rowfour .gridcolumns .colthree .first-row {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header .grid-rows .rowfour .gridcolumns .colthree .first-row .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 80%;
  margin: 0 auto;
}

.header .grid-rows .rowfour .gridcolumns .colthree .first-row .items strong {
  color: #23872F;
  padding-right: 3px;
  font-size: 1.2rem;
  font-weight: 100;
}

.header .fa-chevron-down {
  display: block;
  position: absolute;
  bottom: 5%;
  right: 48%;
  color: #23872F;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

.header .fa-chevron-down:hover {
  bottom: 4%;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

@media only screen and (max-width: 898px) {
  .header .fa-chevron-down:hover {
    bottom: 0;
  }
}

@media only screen and (max-width: 898px) {
  .header .fa-chevron-down {
    bottom: 2%;
  }
}

@media only screen and (max-width: 390px) {
  .header .fa-chevron-down {
    font-size: 2.5rem;
  }
}

@media screen and (max-height: 550px) {
  .header .fa-chevron-down {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */